<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/stationId/date</p>
    <p>URL to get station temperature for a specific date: http://127.0.0.1:5000/api/v1/10/1989-10-01</p>
    <p>URL to get all temperatures for a station: http://127.0.0.1:5000/api/v1/10</p>
    <p>URL to get yearly temperatures for a station: http://127.0.0.1:5000/api/v1/yearly/10/1989</p>
    <p>{{data | safe}}</p>
</body>
</html>